secrets/
certs/
build/
cache/
output/
Untitled*.ipynb
docker/docker-stack.yml
docker/docker-stack.dev.yml
id_rsa
.cover/
import/
scratch/
__pycache__/
pip-wheel-metadata/
_version.py
*.pyc
*.pkl
*.log
*.egg-info
.vscode
vendor/
.DS_Store
.idea/*
**/.ipynb_checkpoints/
*/.idea/*
*.swp
*.swo
*.tgz
*.gz
*.pyz
**/.terraform/*
*.tfstate
*.tfstate.*
*.zip
**/data
